<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jh0nts.rhythmicflash">
    <!-- permisos para encender el flash-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- permisos para encender el microfono -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- permisos para acceder a la publicidad ->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!- permisos para acceder a la publicidad -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remove the lines below, if you don't want ads -->
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:name="com.apptracker.android.module.AppModuleActivity"
            android:hardwareAccelerated="false">
        </activity>
        <service android:name="com.apptracker.android.track.AppTrackerService" />
        <!-- Remove the lines above, if you don't want ads -->
    </application>
</manifest>
